Source: swiftly
Section: net
Priority: optional
Maintainer: Greg Holt <greg@brim.net>
Uploaders: Greg Holt <greg@brim.net>
Build-Depends: debhelper (>= 7.0.50~),
 python-all,
 python-support (>= 0.90),
 python-openssl,
 python-setuptools,
 python-nose,
 python-sphinx (>= 1.0)
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Homepage: https://github.com/gholt/swiftly
Vcs-Browser: https://github.com/gholt/swiftly
Vcs-Bzr: https://github.com/gholt/swiftly


Package: python-swiftly
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-openssl,
 python-setuptools
Provides: ${python:Provides}
Description: A client for OpenStack Swift end-user access
 A client for OpenStack Swift end-user access.

Package: swiftly-doc
Architecture: all
Section: doc
Depends: libjs-jquery, ${misc:Depends}
Description: The Swiftly documentation
 Sphinx documentation for Swiftly.
