#!/usr/bin/make -f

# Verbose mode
#export DH_VERBOSE=1

%:
	dh $@

# clean sphinx build output
override_dh_clean:
	dh_clean
	rm -rf doc/build/*

# build with sphinx documentation
override_dh_auto_build:
	dh_auto_build
	mkdir -p doc/build
	python setup.py build_sphinx
